html {
    background-color: #f4d04e;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Figtree', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    max-width: 300px;
    height: 500px;
    border: 1px solid #121212;
    border-radius: 5%;
    box-shadow: 10px 10px #121212;
    margin: 100px auto 100px;
}

#top-half {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 18px;
    padding-top: 18px;
    padding-right: 18px;
}

#top-half img {
    border-radius: 5%;
    overflow: hidden;
}

#bottom-half {
    width: 100%;
    padding: 18px;
}

#title {
    margin-right: 18px;

    &:hover {
        color: #f4d04e;
        transform: scale(1.01);
    }
}

#text {
    color: #808080;
    padding-right: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#learning {
    background-color: #f4d04e;
    max-width: fit-content;
    height: auto;
    text-align: center;
    border-radius: 5%;
}

#header {
    display: flex;
    align-items: center;
}

#header img {
    margin-right: 10px;
    max-width: 10%;
    height: auto;
}

@media (min-width: 375px) {
    #container {
        max-width: 350px;
        font-size: 16px;
        overflow: hidden;
    }


}